<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ImageViewer.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FilterPath" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatisticsChannel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastQuality" serializeAs="String">
                <value>98</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TexelDisplayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TexelDecimalCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FlipYAxis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlphaBackground" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NanRed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NanGreen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NanBlue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZoomBoxRed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ZoomBoxGreen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZoomBoxBlue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ZoomBoxBorder" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ExportZoomBoxBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportZoomBoxScale" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MovieFps" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="MovieRepeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoviePreset" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MovieLastFrameCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MovieLastFirstFrame" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MovieLastLastFrame" serializeAs="String">
                <value>-1</value>
            </setting>
        </ImageViewer.Properties.Settings>
    </userSettings>
</configuration>
