[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "dependencies/gli"]
	path = dependencies/gli
	url = https://github.com/g-truc/gli.git
[submodule "dependencies/tinyexr"]
	path = dependencies/tinyexr
	url = https://github.com/syoyo/tinyexr.git
[submodule "dependencies/compressonator"]
	path = dependencies/compressonator
	url = git@github.com:kopaka1822/Compressonator.git
[submodule "dependencies/ktx"]
	path = dependencies/ktx
	url = https://github.com/KhronosGroup/KTX-Software.git
	branch = ktx2
