# Executables
*.out
*.app
*.exe

# Visual Studio stuff
*.opensdf
*.sdf
*.user
*.suo
*.db
*.opendb
packages/
*.tlog
*.lastbuildstate
*.log
*.idb
*.pdb
*.ilk
.vs/
*.exp
*.lib
*.obj
*.iobj
*.ipdb

obj/

#logs
#*.txt

# Build directories
#log.txt
Debug/
Release/

# unit testing tmp
FrameworkTests/TestData/export/

*.bsc
